# Created by .ignore support plugin (hsz.mobi)
### Example user template template

# IntelliJ project files
.idea
*.iml
out
gen
*DS_Store
node_modules/
public/bower_components/
vendor/
public/storage/logs
.env
.env.testing
*~
.vscode/
logs/
cookies.txt
npm-debug.log
/public/api/.htaccess
/config/database.php
